body {
  margin: 0px;
  background-color: #282A2D;
  font-family: Bitstream Vera Sans Mono;
}

#part1{
  padding-top: 70px;
  background-color: #282A2D;
  color: #f4f4f4;
  text-align: center;
}
#part2{
  margin-top: 50px:
  margin-bottom: 50px;
  padding-bottom: 30px;
  background-color: #282A2D;
  text-align: center;
  align-content: center;
}

#part3{
  margin-top: 0px:
  margin-bottom: 50px;
  padding-top: 0px;
  background-color: #f4f4f4;
  text-align: center;
  align-content: center;
}

#part4{
  padding-top: 50px;
  margin-top: 50px:
  margin-bottom: 50px;
  background-color: #f4f4f4;
  text-align: center;
  align-content: center;
}

#mapsection{
  height: 500px;
  width: 100%;
}

#streamgraph {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
