body {
  margin: 0px;
  background-color: #282A2D;
  font-family: Bitstream Vera Sans Mono;
}

#part1{
  padding-top: 70px;
  background-color: #282A2D;
  color: #f4f4f4;
  text-align: center;
}
#part2{
  margin-top: 50px:
  margin-bottom: 50px;
  padding-bottom: 30px;
  background-color: #282A2D;
  text-align: center;
  align-content: center;
  height: 1000px;
}

#part3{
  margin-top: 0px:
  margin-bottom: 50px;
  padding-top: 0px;
  background-color: #f4f4f4;
  text-align: center;
  align-content: center;
}

#part4{
  padding-top: 50px;
  margin-top: 50px:
  margin-bottom: 50px;
  background-color: #f4f4f4;
  text-align: center;
  align-content: center;
}

#map{
  height: 100%;
  width: 80%;
  float: left;
  position: relative;
}

#mapbuttons{
  height: 100%;
  width: 20%;
  float: right;
  position: relative;
}

#police{
  background-color: rgba(255,0,0,0.5);
  height: 25%;
  position: relative;
  align-content: center;
}

#filter_mode{
  background-color: rgba(0,255,0,0.5);
  height: 25%;
  position: relative;
  align-content: center;
}

#sdate_mode{
  background-color: rgba(0,0,255,0.5);
  height: 25%;
  position: relative;
  align-content: center;
}

#aff_houses{
  background-color: rgba(255,0,255,0.5);
  height: 25%;
  position: relative;
  align-content: center;
}

#centering{
	top: 50%;
	position: absolute;
  align-content: center;
}

#streamgraph {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#textBoardBar{
  color: #F5F5F5;
}

#load_overlay{
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
	cursor: pointer;
}

#lgif {
	position: absolute;
	top: 50%;
	left: 50%;
}

#cyear {
	display: none;
	color: white;
}

